/* ContractProgressItem.css */

.contract-progress-item {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contract-progress-item:hover {
    background-color: #eef6ff;
}


.contract-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr  1fr 0.1fr; /* Three columns with equal width */
    gap: 10px; /* Adjust the gap as needed */
    align-items: left; /* Center-align items vertically */
    align-items: center;
}

.contract-header h3 {
    margin: 0;
}

.contract-financial-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contract-financial-info p {
    margin: 0;
}

.toggle-arrow {
    font-size: 1.5rem;
    cursor: pointer;
}

.selected .toggle-arrow {
    transform: rotate(180deg);
}

.contract-details {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 5px;
}

/* Add additional styles as needed */
