.footer {
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-container {
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .footer-text {
    margin: 0;
  }
  