/* Add to your CSS file */
.section-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Make sure the container takes the full height */
  }
  
  .card-content {
    flex: 1; /* This will push the button to the bottom */
  }
  
  .btn-container {
    margin-top: auto; /* This will push the button to the bottom of the card */
  }
  
  /* Marketplace.css */

