/* Marketplace.css */

/* Card container styling */
.section-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  /* Card content styling */
  .card-content {
    word-wrap: break-word; /* Ensures long text doesn't overflow */
    flex: 1; /* Pushes the button to the bottom */
  }
  
  .card-content h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  /* Token details layout */
  .token-details {
    display: flex;
    flex-direction: column;
}

.token-detail {
  display: flex;
  justify-content: space-between; /* This ensures left and right alignment */
  margin-bottom: 0.5rem; /* Space between rows */
}

.detail-name {
  flex: 1; /* Takes up as much space as possible, pushing the value to the right */
  text-align: left; /* Aligns the text to the left */
  font-weight: bold; /* Makes the text bold */
}

.detail-value {
  flex: 0; /* Does not grow, keeping the value right-aligned */
  text-align: right; /* Aligns the text to the right */
}


  /* Link styling */
  .card-content a {
    color: #007bff; /* Style for links */
    text-decoration: none;
  }
  
  .card-content a:hover {
    text-decoration: underline;
  }
  
  /* Button styling */
  .btn-penomo {
    align-self: center;
    margin-top: 20px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .card-content {
      font-size: smaller; /* Reduce font size on smaller screens */
    }
  }
  
