/* Master styles that can be used across the entire application */
/* Include this file in your main entry file like index.js or App.js */

/* Global settings */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    /* Use your preferred font */
}

.page-container {
    width: 80%;
    margin: 0 auto;
    /* This centers the container on the page */
}

/* Common header for pages */
.page-header {
    color: #333;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Container for each major section */
.section-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 1rem;
    margin-block: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Common header for sections */
.section-header {
    color: #333;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    text-align: left;
}

/* Styled list for sections */
.section-list {
    list-style: none;
    padding: 0;
}

/* Styled list item */
.section-list-item {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.section-list-item:hover {
    background-color: #eef6ff;
}

/* Common button styling */
.btn {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #003d82;
}


/* Content wrapper */
.content-wrap {
    flex: 1;
    /* Allows content to expand and push footer down */
}

/* Penomo Button */
.btn-penomo {
    background-color: #00b39f;
    /* Penomo color */
    color: #000;
    /* Text color set to black */
    border: none;
    /* Removes any default border */
    padding: 10px 20px;
    /* Padding for size */
    border-radius: 5px;
    /* Rounded corners */
    font-weight: bold;
    /* Bold font */
    cursor: pointer;
    /* Cursor indicates clickable button */
    outline: none;
    /* Removes outline on focus for some browsers */
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

.btn-penomo:hover {
    background-color: #00897b;
    /* Darker shade of Penomo color for hover state */
}

.btn-penomo.btn-disabled {
    background-color: grey; /* Change the background color for the disabled state */
    cursor: default; /* Disable the pointer cursor */
  }

/* Popup styles */
.popup-header {
    color: #333;
    margin-top: 0.3rem;
    margin-bottom: 3rem;
    text-align: left;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's on top */
}

.popup-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    /* Maximum width of the modal */
    box-sizing: border-box;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: #333;
}

/* Form styling */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.form-label {
    flex-basis: 30%;
    text-align: left;
}

.form-control {
    flex-basis: 70%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}



/* Additional styles for responsiveness and aesthetics */
@media (max-width: 768px) {
    .popup-content {
        width: 90%;
        padding: 1rem;
    }

    .form-label {
        flex-basis: 40%;
    }

    .form-control {
        flex-basis: 60%;
    }
}