/* Master styles that can be used across the entire application */
/* Include this file in your main entry file like index.js or App.js */

/* Global settings */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Use your preferred font */
  }
  
  /* Container for each major section */
  .section-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Common header for sections */
  .section-header {
    color: #333;
    margin-bottom: 1rem;
  }
  
  /* Styled list for sections */
  .section-list {
    list-style: none;
    padding: 0;
  }
  
  /* Styled list item */
  .section-list-item {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .section-list-item:hover {
    background-color: #eef6ff;
  }
  
  /* Common button styling */
  .btn {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #003d82;
  }
  
  /* Footer */
  .footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
  }

  .btn-penomo {
    background-color: #00b39f; /* Penomo color */
    color: black;
    margin-left: 25%;
    margin-right:25%;
    /* Add any additional styling you want for the button */
  }
  
  .btn-penomo:hover {
    background-color: #00897b; /* A darker variant of Penomo color for hover effect */
    /* Adjust hover effect as desired */
  }
  

/* Modal styles */
.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Additional responsive adjustments */
  @media (max-width: 600px) {
    .modal-content {
      margin: 10% auto;
      width: 90%;
    }
  }
  