/* Master styles that can be used across the entire application */

/* Global settings */
html, body, body * {
    font-family: 'Ubuntu', sans-serif !important;

}
.content-wrap {
    flex: 1; /* Allows content to expand */
    /* Remove the comment syntax and ensure this is active */
  }

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }
/* Center Content */
.center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column; /* Stack children vertically */
  }

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This class can be used to center content horizontally within its parent */
.horizontal-center {
    display: flex;
    justify-content: center;
}

/* This class can be used to center content vertically within its parent */
.vertical-center {
    display: flex;
    align-items: center;
}

.center-vertical-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* This class can be used to center content both vertically and horizontally within its parent */
.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This class can be used to center text within its container */
.text-center {
    text-align: center;
}

/* This class can be used for buttons or other clickable elements to indicate action */
.btn-center {
    display: block;
    /* Change to block to allow margin auto to work */
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom-2rem {
    margin-bottom: 2rem;
}

/* Containers */

.page-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    /* This centers the container on the page */
}

/* Common header for pages */
.page-header {
    color: #333;
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

/* Container for each major section */
.section-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 2rem;
    margin-block: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: clip;
}

/* Common header for sections */
.section-header {
    color: #333;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    text-align: left;
}

/* Styled list for sections */
.section-list {
    list-style: none;
    padding: 0;
}

/* Styled list item */
.section-list-item {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.section-list-item:hover {
    background-color: #eef6ff;
}

.horizontal-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Cards spaced evenly horizontally */
}

/* Style for each individual card */
.two-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Cards spaced evenly horizontally */
    padding: 0rem;
    margin-block: 1rem;
    margin-bottom: 4rem;
}

.colored-box {
    display: flex;
    height: 15rem;
    width: 15rem;
    border-radius: 5px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height> * {
    flex: 1;
    margin: 0 10px; /* Add margin between cards as needed */
}

/* Common button styling */
.btn {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 0px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #003d82;
}


/* Content wrapper */
.content-wrap {
    flex: 1;
    /* Allows content to expand and push footer down */
}

/* Penomo Button */
.btn-penomo {
    background-color: #00CC9C;
    /* Penomo color */
    color: #000;
    /* Text color set to black */
    border: none;
    /* Removes any default border */
    padding: 10px 15px;
    /* Padding for size */
    border-radius: 5px;
    /* Rounded corners */
    font-weight: bold;
    /* Bold font */
    cursor: pointer;
    /* Cursor indicates clickable button */
    outline: none;
    /* Removes outline on focus for some browsers */
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
    display: block; 
    margin: auto;
}

.btn-penomo-secondary {
    background-color: #9bbab6;
    /* Penomo color */
    color: #000;
    /* Text color set to black */
    border: none;
    /* Removes any default border */
    padding: 10px 15px;
    /* Padding for size */
    border-radius: 5px;
    /* Rounded corners */
    font-weight: bold;
    /* Bold font */
    cursor: pointer;
    /* Cursor indicates clickable button */
    outline: none;
    /* Removes outline on focus for some browsers */
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
    display: block; /* Add this line */
    margin: auto;
}

.btn-penomo:hover {
    background-color: #00CC9C;
    /* Darker shade of Penomo color for hover state */
}

.btn-penomo.btn-disabled {
    background-color: grey;
    /* Change the background color for the disabled state */
    cursor: default;
    /* Disable the pointer cursor */
}

.nav-button {
    display: flex;
    width: 170px; 
    /* height: 40px; Set a fixed height if needed */
    margin-top: 1rem; /* This ensures there is space above the buttons */
}

/* Popup styles */
.popup-header {
    position: relative;
    /* This ensures that absolute positioning is relative to this container */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Make sure the title does not overlap with the close button */
.popup-header h2 {
    padding-right: 40px;
    /* Adjust as needed */
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
    padding: 1rem; /* Add padding to ensure margin from the window borders */
    box-sizing: border-box; /* Include padding in the width and height calculations */
}

.popup-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: calc(100% - 2rem); /* Adjust width to account for padding */
    max-width: 500px;
    display: flex; /* Use flexbox to align children */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    box-sizing: border-box; /* Include padding in the width and height calculations */
}

/* Close button */
.close {
    position: absolute;
    /* Absolute position for the close button */
    top: 1px;
    /* Adjust as needed to move up towards the top corner */
    right: 1px;
    /* Adjust as needed to move towards the right corner */
    cursor: pointer;
    font-size: 1.5rem;
    /* Adjust the size as needed */
    line-height: 1;
    color: #333;
    /* Adjust the color as needed */
}

.close:hover {
    color: #333;
}

/* Form styling */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.form-label {
    flex-basis: 30%;
    text-align: left;
}

.form-control {
    flex-basis: 70%;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.modal-body {
    padding: 20px; /* Adjust the padding as needed */
}

.modal-body p {
    word-wrap: break-word; /* This ensures that long words will wrap and not overflow */
    margin-bottom: 1rem; /* Adds some space below each paragraph if you have multiple */
}

.progress-bar {
    width: 100%;
    height: 35px;
    border: 1px solid #9bbab6;
    background-color: #9bbab6;
    /* border-radius: 5px; */
    /* margin-top: 10px; */
    /* display: flex; Remove this line */
    /* align-items: center; Remove this line */
    position: relative; /* Add this line */
    border-radius: 8px;
    padding: 1.2rem;
    margin-block: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filler {
    background-color: #00CC9C;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute; /* Use absolute positioning */
    left: 0; /* Align to the left */
    top: 0; /* Align to the top */
    bottom: 0; /* Align to the bottom */
}

.balance-display {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* Three columns with equal width */
    gap: 10px; /* Adjust the gap as needed */
    align-items: left; /* Center-align items vertically */
    align-items: center;
}

.percentage-text {
    color: #000000;
    font-weight: bold;
    position: absolute; /* Use absolute positioning */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%); /* Center text precisely */
}

/* Additional styles for responsiveness and aesthetics */
@media (max-width: 768px) {
    .popup-content {
        width: 90%;
        padding: 1rem;
    }

    .form-label {
        flex-basis: 40%;
    }

    .form-control {
        flex-basis: 60%;
    }
}